* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 32px;

  font-family: "Heebo";
  background-color: #314570;
  color: #000000;

  user-select: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;

  background-image: linear-gradient(to bottom, #aed1d6 17.5%, #ffffff 10.001%);

  border-radius: 12px;
  box-shadow: 0px 4px 12px #333333;

  max-width: 720px;
  width: 100%;
}

.card-icon {
  border-radius: 100%;
  border: 6px solid #ffffff;

  margin-top: 24px;

  box-shadow: 4px 5px 8px -5px #c9c9c9;
  background-color: #7584ad;;

  width: 96px;
  height: 96px;
}

.card-header {
  margin-top: 24px;
  text-align: center;
}

.card-content {
  width: 100%;
  margin-top: 40px;
}

.weather-details {
  display: flex;
  flex-direction: column;
}

.weather-details-item {
  list-style-type: none;
  text-align: center;

  padding-bottom: 16px;
  margin-top: 16px;

  border-bottom: 1px solid #e0e0e0;
}

.weather-details-item:first-child {
  margin-top: 0;
}

.weather-details-item:last-child {
  border-bottom: none;
}

.weather-details-item p {
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
}

h1 {
  font-weight: 700;
  line-height: 24px;

  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  color: #00000087;
  margin-top: 12px;
}

h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #00000087;
  letter-spacing: 3px;
}

@media only screen and (min-width: 769px) {
  .card {
    padding: 48px;

    background-image: linear-gradient(to bottom, #aed1d6 27%, #ffffff 10.001%);
  }

  .card-icon {
    width: 128px;
    height: 128px;
  }

  .card-header {
    margin-top: 48px;
  }

  .card-content {
    margin-top: 56px;
  }
  
  .weather-details {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .weather-details-item {
    margin-top: 0;
    margin-left: 24px;

    border-right: 1px solid #e0e0e0;
    border-bottom: none;

    padding-right: 48px;
    padding-bottom: 0;
  }

  .weather-details-item:last-child {
    border-right: none;
  }
}
